@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');


.enlace {
    text-decoration: none;
    list-style: none;
}

header { 
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20vh;
    font-size: 34px;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    font-size: 34px;
    flex-direction: row;
    align-content: center;
    justify-content: right;
    align-items: center;
    text-decoration: none;
}

.texto {
    display: none;
    background-color: #02020241;
    
}

.clic {
    list-style: none;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-right: 30px; 
}

ul {
    display: flex;
    gap: 30px; 
    padding: 0;
    margin: 0;
}

.titulo h2 {  
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: rgb(251, 251, 252);
    font-size: 40;
    align-content: center;
    font-family: "Playwrite DE Grund", system-ui;
}

nav {
    background-color: rgba(153, 150, 148, 0.541);
    color: blanchedalmond;
    width: 100%;
    height: 90%;
}

header img {
    height: 100%;
}

img {
    width: 150px;
}

h1{
    font-size: 46px;
    color: rgb(5, 5, 5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2%;
}
h2{
    font-size: 36px;
    color: black;
    font-family: "Roboto Slab", serif;
}
p{
    font-size: 25px;
    color: rgb(8, 8, 58);
    padding: 2%;
}

body {
    background: radial-gradient(circle, rgba(255, 127, 95, 0.582), rgba(254, 180, 123, 0.7)),
                url('./imagenes/fondopagina.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}  

.Gatos{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2%;
    padding: 1%;
    justify-content: center;
}

.Gatos2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2%;
    padding: 1%;
    justify-content: center;
}
.gatitos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.gatitos img {
    width: 250px;
    height: 250px;
    border-radius: 50%; 
    padding: 10px;
    object-fit: cover;
}

.curioso h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgb(10, 10, 10);
    font-size: 40;
    align-content: center;
    font-family: "Playfair Display", serif;
    margin: 4%;
}
.col h3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgb(10, 10, 10);
    font-size: 24;
    align-content: center;
    font-family: "Playfair Display", serif
}

.col p {
    display: flex;
    color: rgb(252, 247, 247);
    font-size: 18;
    font-family: "Playfair Display", serif;
    text-align: justify;
    margin-bottom: 5%;
}

.boton {
    font-size: 18px; 
    padding: 12px 24px; 
    background-color: #db50a1; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

.boton  -toggle:hover {
    background-color: #161515; 
}

.custom-img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}
.carousel-inner {
    width: 100%;
    height: 1000px;

}

iframe {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 7%auto;
    padding: 50px;
}
footer {
    display: flex;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 40px;    
    }




